<%- include("../partials/head") %>
<link rel="stylesheet" href="/stylesheet/admproduct.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header") %>


        <h1>Agregar Producto</h1>

        <form class="containerPrincipal" action="/products/create" method="POST" enctype="multipart/form-data">

            <div class="containerAdd">

                <label class="labelName" for="">Nombre del producto</label>
                <input class="inputName" type="text" name="name" placeholder=""">
                    
                    
                        <label class=" labelDescri" for="">Descripción del producto</label>
                <textarea class="coments" style="resize: none;" name="coments" rows="10" placeholder=""
                    cols="40"></textarea>
                <label class="fotoProducto">Subir fotos del producto</label>
                <input required class="inputarchivo" ide="file-input" multiple="multiple" type="file" name="adjunto"
                    accept=".pdf,.jpg,.png">

            </div>






            <div class="containerDetalle">


                <div>
                    <label for="">Deporte</label>
                    <select name="deporte">
                        <% resultadoBusquedaDeporte.forEach(element => { %>
                        <option value="<%= element.id%>">
                            <%= element.name  %>
                        </option>
                        <% }) %>

                    </select>

                    <label for="">Marca</label>

                    <select name="marca">
                        <% resultadoBusquedaMarca.forEach(element => { %>
                        <option value="<%=element.id%>">
                            <%= element.name  %>
                        </option>
                        <% }) %>
                    </select>
                </div>



                <div>
                    <label for="">Talle</label>
                    <select name="talle">
                        <% resultadoBusquedaTalle.forEach(element => { %>
                        <option value="<%=element.id%>">
                            <%= element.name  %>
                        </option>
                        <% }) %>

                    </select>



                    <label for="">Publico</label>

                    <select name="publico">
                        <option value="mujeres">mujeres</option>
                        <option value="hombres">hombres</option>
                        <option value="niños">niños</option>
                    </select>
                </div>

                <div>

                    <label for="">Envío gratis</label>

                    <select name="envio">

                        <option value="gratis">Gratis</option>
                        <option value="correo">Correo</option>

                    </select>

                    <label class="labelPrecio" for="">Precio</label>
                    <input class="inputPrecio" type="number" name="precio" placeholder=""">
                    
                    <label class=" labelSku" for="">Categoría</label>
                    <select name="categoria">
                        <option value="ofertas">Ofertas</option>
                        <option value="recomendados">Recomendados</option>
                        <option value="destacados">Destacados</option>
                        <option value="lanzamientos">Lanzamientos</option>
                    </select>

                </div>


                <div>
                    <label class=" labelPromocional" for="">Precio Promocional</label>

                    <input class="inputPromocional" type="number" name="promocional" placeholder="">

                    <label class=" labelstock" for="">Stock</label>

                    <input class="inputstock" type="number" name="stock" placeholder=""">
                        
                    <label for="">Agregar Producto</label>
                    <button >Agregar</button>
                    
                </div>
             
            </div>

       
        </form>
               
        

                <%- include("../partials/footer") %>



        </main>



    </body>

    </html>