<%- include("../partials/head")  %>
    <link rel="stylesheet" href= "/stylesheet/detail-producto.css">
</head>

<body>
    <main class="main">
        <%- include("../partials/header")  %>
        
            <section class="container-section-producto">


                <div class="container-img">
                    <img class="article-imagen-left" src="/images/products/<%=product.image%>">
                </div>

                <div class="container-detalle">

                    <div class="container-detalle-titulo">
                        <div class="container-texto-nombre">
                            <h3><%= product.name %></h3>
                        </div>
                        <div class="container-texto-precio">
                            <h2><strong>$<%= product.promPrice %></strong></h2>
                        </div>
                        <span></span>
                    </div>

                    <div class="container-detalle-caracteristicas">


                        <div>
                            <p><label>Talle</label></p>
                        </div>
                        
                        <div class="container-detalle-talles-numero">
                            
                            <label ><%= product.sizes.name%></label>
                        
                        </div>


                        <div>
                            <p><label>Marca</label></p>
                        </div>
                        
                        <div class="container-detalle-talles-numero">
                            
                            <label ><%= product.brands.name%></label>
                        
                        </div>


                        <div>
                            <p><label>Unidades</label></p>
                        </div>
                        
                        <div class="container-detalle-talles-numero">
                            
                            <label ><%= product.stock%></label>
                        
                        </div>


                        
                        <div>
                            <p><label>Deporte</label></p>
                        </div>
                        
                        <div class="container-detalle-talles-numero">
                            
                            <label ><%= product.sports.name%></label>
                        
                        </div>

                     
                        
                    </div>
                </div>

            </section>

            <div class="container-detalle-comprar">
                <div class="section-loginButtonEnterOk">

                    <a class="carrito "href="/products/cart/<%= product.id%>"><i class="fas fa-shopping-cart carrito"></i></a>

                </div>

                <div class="logo-like">
                    <p>
                        <a href="/"><i class="fas fa-heart like"></i></a>
                    </p>
                    
                </div>
                
                
            </div>

            <div class="container-descripcion">
                <hr>
                <h3>Descripción</h3>
                
                <p><%= product.description%></p>
                <hr>
            </div>
   
        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>
    </main>
</body>
</html>