<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/admproduct.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>


        <h1>Detalle del producto a Modificar</h1>

        <form class="containerPrincipal" action="/products/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="containerAdd">
                
                <label class="labelName" for="">Nombre del producto</label>
                <input class="inputName" type="text" name="name" value="<%= product.name%>" >
                    
                    
                        <label class=" labelDescri" for="">Descripción del producto</label>
                <textarea class="coments" style="resize: none;" name="coments" rows="10" value="<%=product.description%>" placeholder="<%=product.description%>" cols="40" ></textarea>
                <label class="fotoProducto">Subir fotos del producto</label>
                <input required class="inputarchivo" ide="file-input" multiple="multiple" type="file" name="adjunto"
                    accept=".pdf,.jpg,.png">
            </div>



            <div class="containerDetalle">


                <div>
                    <label for="">Deporte</label>
                    <select name="deporte">
                        <option value="<%=product.deporte%>"><%=product.deporte%></option>
                        <option value="futbol">Fútbol</option>
                        <option value="basquet">Basquet</option>
                        <option value="natacion">Natación</option>
                        <option value="voley">Voley</option>
                        <option value="running">Running</option>
                    </select>

                    <label for="">Marca</label>

                    <select name="marca">
                        <option value="<%=product.marca%>"><%=product.marca%></option>
                        <option value="adidas">adidas</option>
                        <option value="nike">nike</option>
                        <option value="topper">topper</option>
                        <option value="fila">fila</option>
                        <option value="reebok">rebook</option>

                    </select>
                </div>



                <div>
                    <label for="">Talle</label>
                    <select name="talle">
                        <option value="<%=product.talle%>"><%=product.talle%></option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>


                    </select>



                    <label for="">Publico</label>

                    <select name="publico">
                        <option value="<%=product.publico%>"><%=product.publico%></option>
                        <option value="mujeres">mujeres</option>
                        <option value="hombres">hombres</option>
                        <option value="niños">niños</option>
                    </select>
                </div>

                <div>

                    <label for="">Envío gratis</label>

                    <select name="envio">
                        <option value="<%=product.envio%>"><%=product.envio%></option>
                        <option value="gratis">Gratis</option>
                        <option value="correo">Correo</option>

                    </select>

                    <input class="inputPrecio" value="<%=product.precio%>"type="number" name="precio" placeholder=""">
                 
                    <label class=" labelSku" for="">Categoría</label>
                    <select name="categoria">
                        <option value="<%=product.categoria%>"><%=product.categoria%></option>
                        <option value="ofertas">Ofertas</option>
                        <option value="recomendados">Recomendados</option>
                        <option value="destacados">Destacados</option>
                        <option value="lanzamientos">Lanzamientos</option>
                    </select>

                </div>


                <div>
                    <label class=" labelPromocional" for="">Precio Promocional</label>

                    <input class="inputPromocional" value="<%=product.promocional%>" type="number" name="promocional" placeholder=""">
                    
                        <label class=" labelstock" for="">Stock</label>

                    <input class="inputstock" value="<%=product.stock%>"type="number" name="stock" placeholder=""">
                        
                    <label for="">Agregar Producto</label>
                    <button >Agregar</button>
                    
                </div>
             
            </div>

       
        </form>
               
        

                <%- include("../partials/footer")  %>

  

        </main>



</body>

</html>