<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/admproduct.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>


        <h1>Detalle del producto a Modificar</h1>

        <form class="containerPrincipal" action="/products/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <div class="containerAdd">
                
                <label class="labelName" for="">Nombre del producto</label>
                <input class="inputName" type="text" name="name" value="<%= product.name%>" >
                <span class="errores">
                    <% if (errors.name) { %>
                        <%= errors.name.msg  %> 
                    <% } %>
                   </span>
                    
                    
                        <label class=" labelDescri" for="">Descripción del producto</label>
                <textarea class="coments" style="resize: none;" name="coments" rows="10" value="<%=product.description%>" cols="40" ><%=product.description%></textarea>
                <label class="fotoProducto">Subir fotos del producto</label>
                <input class="inputarchivo" ide="file-input" multiple="multiple" type="file" name="adjunto"
                    accept=".pdf,.jpg,.png" value="<%=product.image%>">
            </div>



            <div class="containerDetalle">


                <div>
                    <label for="">Deporte</label>
                    <select name="deporte">
                        <option value="<%= product.sport_id%>"><%=product.sports.name%></option>
                        <% resultadoBusquedaDeporte.forEach(element => { %>
                            <option value="<%= element.id%>">
                                <%= element.name  %>
                            </option>
                        <% }) %>
                    </select>

                    <label for="">Marca</label>

                    <select name="marca">
                        <option value="<%= product.brand_id%>"><%=product.brands.name%> </option>
                        <% resultadoBusquedaMarca.forEach(element => { %>
                            <option value="<%= element.id%>">
                                <%= element.name  %>
                            </option>
                        <% }) %>

                    </select>
                </div>



                <div>
                    <label for="">Talle</label>
                    <select name="talle">
                        <option value="<%= product.size_id%>"><%= product.sizes.name%> </option>
                        <% resultadoBusquedaTalle.forEach(element => { %>
                            <option value="<%= element.id%>">
                                <%= element.name  %>
                            </option>
                        <% }) %>


                    </select>



                    <label for="">Publico</label>

                    <select name="publico">
                        <option value="<%=product.public%>"><%=product.public%></option>
                        <option value="mujeres">mujeres</option>
                        <option value="hombres">hombres</option>
                        <option value="niños">niños</option>
                    </select>
                </div>

                <div>

                    <label for="">Envío gratis</label>

                    <select name="envio">
                        <option value="<%=product.shipping%>"><%=product.shipping%></option>
                        <option value="gratis">Gratis</option>
                        <option value="correo">Correo</option>

                    </select>
                    <label class="labelPrecio" for="">Precio</label>
                    <input class="inputPrecio" value="<%=product.price%>"type="number" name="precio" >
                    <span class="errores">
                        <% if (errors.precio) { %>
                            <%= errors.precio.msg  %> 
                        <% } %>
                       </span>
                        
                 
                    <label class=" labelSku" for="">Categoría</label>
                    <select name="categoria">
                        <option value="<%=product.category%>"><%=product.category%></option>
                        <option value="ofertas">Ofertas</option>
                        <option value="recomendados">Recomendados</option>
                        <option value="destacados">Destacados</option>
                        <option value="lanzamientos">Lanzamientos</option>
                    </select>

                </div>


                <div>
                    <label class=" labelPromocional" for="">Precio Promocional</label>

                    <input class="inputPromocional" value="<%=product.promPrice%>" type="number" name="promocional" >
                
                    <span class="errores">
                        <% if (errors.promocional) { %>
                            <%= errors.promocional.msg  %> 
                        <% } %>
                       </span>
                        

                    <label class="labelstock" for="">Stock</label>

                    <input class="inputstock" value="<%=product.stock%>"type="number" name="stock">

                    <span class="errores">
                        <% if (errors.stock) { %>
                            <%= errors.stock.msg  %> 
                        <% } %>
                       </span>
                        
                        
                    <label for="">Editar Producto</label>
                    <button >Editar</button>
                    
                </div>
             
            </div>

       
        </form>
               
        

                <%- include("../partials/footer")  %>

  

        </main>


   

</body>

</html>