<%- include("partials/head")  %>

<link rel="stylesheet" href="/stylesheet/products.css">


</head>

<body>
    <main class="main">

        <%- include("partials/header")  %>


        <h1>Todos los productos</h1>



        <section class="offer-article">

            <% products.forEach(function (product){ %>

            <article class="offer-article1">
               <img src="/images/products/<%=product.image%>"
                        class="offer-article1-image"></a>
                <div class="offer-article-info">
                    <p class="offer-article-title"><%= product.name%></p>
                    <div class="offer-article-container-description">
                        <p class="offer-article-description">$<%= product.promocional%></p>
                        <span class="offer-article-description-span">$<%= product.precio%></span>
                    </div>
                
                    <div class="containerDetalle">
                      
                        <a  href="/products/vista/<%= product.id%>"><button type="submit" class="">Editar</button></a>

        
                        <form action="/products/delete/<%=product.id%>/?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">Borrar</button>
						</form> 
                       

                    </div>
                </div>
            </article>

            <%})%>
        </section>

        <%- include("partials/footer")  %>

    </main>


</body>

</html>