<%- include("partials/head")  %>

<link rel="stylesheet" href="/stylesheet/style-home.css">
<link rel="stylesheet" href="/stylesheet/admproduct.css">
<link rel="stylesheet" href="/stylesheet/users.css">

</head>

<body>
    <main class="main">

        <%- include("partials/header")  %>


        <h1>Usuarios</h1>



        <section class="offer-article">         
                
            <div class="containerDetalle">
                        
                <h4><%=users.nameRegister%> Usuario</h4>

                <div>
                    <a  href="/users/vista/<%= users.id%>"><button type="submit" class="">Editar</button></a>

                    
    
                    <a href="/users/delete/<%=users.id%>/?_method=DELETE" method="POST">
                        <button type="submit" class="">ELIMINAR</button>
                    </a>

                </div>


            </div>

        </section>

        <%- include("partials/footer")  %>

    </main>


</body>

</html>