<%- include("partials/head")  %>

<link rel="stylesheet" href="/stylesheet/style-home.css">
<link rel="stylesheet" href="/stylesheet/admproduct.css">
<link rel="stylesheet" href="/stylesheet/users.css">

</head>

<body>
    <main class="main">

        <%- include("partials/header")  %>

        <h1>Usuarios</h1>

        

        <section class="offer-article">         
            

            <div class="containerDetalle">
                
                <h4><%= users %> Usuario</h4>

                <div>
                    <form  action="/users/vista/<%= users.id%>/?_method=PUT" method="PUT">
                        <button type="submit" class="">Editar</button>
                    </form>

                    
    
                    <form action="/users/delete/<%=users.id%>/?_method=DELETE" method="POST">
                        <button type="submit" class="action-button delete">ELIMINAR</button>
                    </form>

                </div>


            </div>

        </section>

        <%- include("partials/footer")  %>

    </main>


</body>

</html>