<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/login.css">


</head>

<body>
    <main class="main">
        <%- include("../partials/header")  %>

        <section class="section-loginContainer">
            <div class="section-loginContainerTitle">
                <h4 class="section-loginTitle">Clientes</h4>
            </div>

            <form method="POST" action="/users/login" class="section-form-login">
                <div class="section-loginContainerEmail">
                    <label for="email" class="section-login__labelEmail">Correo Electrónico<span
                            class="section-login__spanLabelEmail">*</span></label>
                    <input type="email" name="emailLogin" id="email" class="section-login__inputEmail">
                   <% if (errors.emailLogin != undefined) { %>
                    <small class="error-input"><%=errors.emailLogin.msg%></small>
                   <% } %>
                </div>

                <div class="section-loginContainerPassword">
                    <label for="password" class="section-loginLabelPassword">Contraseña <span
                            class="section-login__spanLabelPassword">*</span></label>
                    <input type="password" name="passwordLogin" id="password" class="section-login__inputPassword">
                    <% if (errors.passwordLogin != undefined) { %>
                        <small class="error-input"><%=errors.passwordLogin.msg%></small>
                       <% } %>
                    <div class="section-loginRecordame">
                        <input type="checkbox"><small >Recordar mis datos</small>   
                    </div>
                    <div class="section-loginContainerRequired">
                        <small class="section-loginRequired">*Campos Requeridos</small>
                    </div>
                </div>
                <div class="section-loginContainerButton">
                    <a class="section-loginButtonCheckIn" href="/users/register">Registrarse</a>
                    <button class="section-loginButtonEnterOk" href="/">Ingresar</button>
                </div>
         </form>
         
                



        </section>






        <%- include("../partials/form-suscribe")  %>

        <%- include("../partials/footer")  %>






    </main>



</body>

</html>