<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <% if( typeof errors != "undefined") { %> <!-- SIRVE PARA QUE CUANDO CARGUEMOS EL REGISTER NO SE NOS INICIE CON LOS ERRORES-->
     
        <% } %>
        
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Registro</h4>
            </div>

            <form method="POST" action="/users/register" class="section-form-register" enctype="multipart/form-data">
                <div class="section-registerContainerLeft">
                    <div class="section-registerContainerName">
                        <label for="name" class="section-register__labelName">Nombre<span
                                class="section-register__spanLabelName">*</span></label>
                        <input type="text" name="name" id="name" class="section-register__inputName" placeholder="Nombre Completo">
                        <p class="errores"><%= typeof errors.name == "undefined" ? "" : errors.name.msg %></p>
                        
                    </div>

                    <div class="section-registerContainerLastName">
                        <label for="lastName" class="section-register__labelLastName">Apellido<span
                                class="section-register__spanLabelLastName">*</span></label>
                        <input type="text" name="lastName" id="lastName"
                            class="section-register__inputLastName"placeholder="Apellido Completo"> 
                        <p class="errores"><%= typeof errors.lastName == "undefined" ? "" : errors.lastName.msg %></p>
                    </div>

                    <div class="section-registerContainerEmail">
                        <label for="email" class="section-register__labelEmail">Correo Electrónico<span
                                class="section-register__spanLabelEmail">*</span></label>
                        <input type="email" name="email" id="email" class="section-register__inputEmail">
                        <p class="errores"><%= typeof errors.email == "undefined" ? "" : errors.email.msg %></p>
                    </div>

                </div>

                <div class="section-registerContainerRight">
                    <div class="section-registerContainerPassword">
                        <label for="password" class="section-registerLabelPassword">Contraseña<span
                                class="section-register__spanLabelPassword">*</span></label>
                        <input type="password" name="password" id="password"
                            class="section-register__inputPassword " placeholder="Mínimo 8 caracteres">
                        <p class="errores"><%= typeof errors.password == "undefined" ? "" : errors.password.msg %></p>
                    </div>

                    <div class="section-registerContainerConfirmPassword">
                        <label for="confirmPassword" class="section-registerLabelConfirmPassword">Confirmar Contraseña
                            <span class="section-register__spanLabelConfirmPassword">*</span></label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            class="section-register__inputConfirmPassword" placeholder="Mínimo 8 caracteres">
                        <p class="errores"><%= typeof errors.confirmPassword == "undefined" ? "" : errors.confirmPassword.msg %> </p>

                    </div>

                    <div class="section-registerContainerRequired">
                        <small class="section-registerRequired">*Campos Requeridos</small>
                    </div>

                    <div class="section-registerContainerChecks">
                        <div class="section-registerContainerChecksMails">
                            <input type="checkbox" name="Quiere recibir mails" value="RE"
                                class="section-registerChecksReceiveEmails">
                            <span>Quiero recibir Mails con noticias y promociones</span>
                        </div>
                        <div class="section-registerContainerChecksConditions">
                            <input type="checkbox" name="Acepta Términos" value="AC"
                                class="section-registerChecksAceptConditions"required="required"> <!-- SIRVE PARA HACER OBLIGATORIO AL CHECKBOX-->
                            <span>Acepto Términos y Condiciones</span>
                        </div>
                    </div>



                    <div class="section-registerContainerButton">
                        <button type="submit" class="section-registerCreateAccount">Crear Cuenta</button>
                    </div>
                </div>



            </form>


        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>