<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <% if( typeof errors != "undefined") { %> <!-- SIRVE PARA QUE CUANDO CARGUEMOS EL REGISTER NO SE NOS INICIE CON LOS ERRORES-->
     
        <% } %>
        
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Editar Perfil</h4> <!-- hacerlo dinamico-->
            </div>

            <form method="POST" action="/users/login/user/user-modificar/<%=userLogueado.session.id%>?_method=PUT" class="section-form-register" enctype="multipart/form-data">

                <div class="section-registerContainerLeft">
                    <div class="section-registerContainerName">
                        <label for="name" class="section-register__labelName">Nombre<span
                                class="section-register__spanLabelName">*</span></label>
                        <input type="text" name="name" id="name" class="section-register__inputName" value="<%= userLogueado.session.name%>">
                        <p class="errores"><%= typeof errors.name == "undefined" ? "" : errors.name.msg %></p>
                        
                    </div>

                    <div class="section-registerContainerLastName">
                        <label for="lastName" class="section-register__labelLastName">Apellido<span
                                class="section-register__spanLabelLastName">*</span></label>
                        <input type="text" name="lastName" id="lastName"
                            class="section-register__inputLastName" value="<%= userLogueado.session.lastName%>"> 
                        <p class="errores">
                            <p class="errores"><%= typeof errors.lastName == "undefined" ? "" : errors.lastName.msg %></p>

                        </p>
                    </div>

                    <div class="section-registerContainerEmail">
                        <label for="email" class="section-register__labelEmail">Correo Electrónico<span
                                class="section-register__spanLabelEmail">*</span></label>
                        <input type="email" name="email" id="email" class="section-register__inputEmail" value="<%= userLogueado.session.email%>">
                        <p class="errores"><%= typeof errors.email == "undefined" ? "" : errors.email.msg %></p>
                    </div>

                </div>

                <div class="section-registerContainerRight">
                    <div class="section-registerContainerPassword">
                        <label for="password" class="section-registerLabelPassword">Contraseña<span
                                class="section-register__spanLabelPassword">*</span></label>
                        <input type="password" name="password" id="password"
                            class="section-register__inputPassword">
                        <p class="errores"><%= typeof errors.password == "undefined" ? "" : errors.password.msg %></p>
                    </div>

                    
                    <div class="section-registerContainerAge">
                        <label for="edad" class="section-registerLabelAge">Fecha de Nacimiento
                            <span class="section-register__spanLabelAge">*</span></label>
                        <input type="date" name="edad" id="edad"
                            class="section-register__inputAge" value="<%=userLogueado.session.edad%>">
                            <p class="errores"><%= typeof errors.edad == "undefined" ? "" : errors.edad.msg %></p>
                        

                    </div>

                    <div class="section-registerContainerCountry">
                        <label for="pais" class="section-registerLabelCountry">Lugar de Nacimiento
                            <span class="section-register__spanLabelCountry">*</span></label>
                            <select class="section-register__inputCountry" name="pais" required="required" value="<%=userLogueado.session.pais%>">
                                <option value="1">Argentina</option>
                                <option value="2">España</option>
                                <option value="3">México</option>
                                <option value="4">Guatemala</option>
                                <option value="5">Honduras</option>
                                <option value="6">El Salvador</option>
                                <option value="7">Venezuela</option>
                                <option value="8">Colombia</option>
                                <option value="9">Cuba</option>
                                <option value="10">Bolivia</option>
                                <option value="11">Ecuador</option>
                                <option value="12">Uruguay</option>
                                </select>

                    </div>



                    <div class="section-registerContainerRequired">
                        <small class="section-registerRequired">*Campos Requeridos</small>
                    </div>

                  



                    <div class="section-registerContainerButton">
                        <button type="submit" class="section-registerCreateAccount">Guardar Cambios</button>
                    </div>
                </div>



            </form>

        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>