<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Editar Usuario</h4>
            </div>

            <form method="POST" action="/users/login/perfil/editar/<%=userLogueado.id%>?_method=PUT" class="section-form-register" enctype="multipart/form-data">

                <div class="section-registerContainerLeft">

                    <div class="section-registerContainerEmail">
                        <label for="email" class="section-register__labelEmail">Nuevo Correo Electrónico<span
                                class="section-register__spanLabelEmail">*</span></label>
                        <input type="email" name="email" id="email" class="section-register__inputEmail" value="<%= users.email %>">
                        <p class="errores"><%= typeof errors.email == "undefined" ? "" : errors.email.msg %></p>
                    </div>

                    <div class="container-session">
                        <a href="/users/login/perfil" class="buttonSesionEdit">Volver</a>
                    </div>

                </div>

                <div class="section-registerContainerRight">
                    <div class="section-registerContainerPassword">
                        <label for="password" class="section-registerLabelPassword">Contraseña<span
                                class="section-register__spanLabelPassword">*</span></label>
                        <input type="password" name="password" id="password"
                            class="section-register__inputPassword" value="<%= users.password %>">
                        <p class="errores"><%= typeof errors.password == "undefined" ? "" : errors.password.msg %></p>
                    </div>


                    <div class="section-registerContainerButton">
                        <button type="submit" class="section-registerCreateAccount">Guardar Cambios</button>
                    </div>
                </div>



            </form>


        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>