<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <% if( typeof errors != "undefined") { %> <!-- SIRVE PARA QUE CUANDO CARGUEMOS EL REGISTER NO SE NOS INICIE CON LOS ERRORES-->
     
        <% } %>
        
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Perfil</h4>
            </div>

            <h2><%= user.name %></h2>
            <a  href="/users/login/user/user-modificar/"><button type="submit" class="">Editar</button></a>
            
            <form action="/users/login/user/<%=user.id%>?_method=DELETE" class="section-form-register" method="POST">

                <button type="submit" class="">Eliminar</button>

            </form>
        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>