<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <% if( typeof errors != "undefined") { %> <!-- SIRVE PARA QUE CUANDO CARGUEMOS EL REGISTER NO SE NOS INICIE CON LOS ERRORES-->
     
        <% } %>
        
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Perfil</h4>
            </div>
            <% for(let i = 0; i < userLogueado.length; i ++) { %>
            <h2>Hola <%= usuario.email%></h2>
            <% } %>
            <div>
                <a  href="/users/login/user/user-modificar/<%= usuario.id %>"><button type="submit" class="">Editar</button></a>
                
            
                <form action="/users/login/user/<%=usuario.id%>?_method=DELETE" class="section-form-register" method="POST">
    
                    <button type="submit" class="">Eliminar</button>
    
                </form>
    
            
    
            </div>

        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>