<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>        
            
        
        <section class="section-registerContainer">

            <div class="section-registerContainerTitle">
                
                <h4 class="section-registerTitle">Bienvenido a tu perfil%></h4>
            </div>

            
            <div class="container-session">

                <a href="/users/login/perfil/crearPerfil/<%= userLogueado.id %>" class="buttonSesionClosed">Editar Perfil</a>

            </div>         
            
          


            <div class="container-session">

                <a  href="/users/login/perfil/editar/<%= userLogueado.id %>" class="buttonSesionEdit">Editar Usuario</a>

            </div>

            <form action="/users/login/perfil/<%=userLogueado.id%>?_method=DELETE" class="section-form-register container-session  " method="POST">
    
                <button type="submit" class="buttonSesionDelete">Eliminar</button>

            </form>



            <div class="container-session">
                <a href="/users/login/closed" class="buttonSesionClosed">Cerrar sesión</a>
            </div>

              

         
    
            
    
            </div>

        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>
    <script src="/js/validationSuscribe.js"></script>


</body>

</html>