<%- include("../partials/head")  %>
<link rel="stylesheet" href="/stylesheet/register.css">


</head>

<body>
    <main class="main">

        <%- include("../partials/header")  %>
        
        <% if( typeof errors != "undefined") { %> <!-- SIRVE PARA QUE CUANDO CARGUEMOS EL REGISTER NO SE NOS INICIE CON LOS ERRORES-->
     
        <% } %>
        
        
        <section class="section-registerContainer">
            <div class="section-registerContainerTitle">
                <h4 class="section-registerTitle">Perfil de <%= userLogueado.email %></h4>
            </div>
            
            
            
            <div>
                <a  href="/users/login/perfil/user-modificar/<%= userLogueado.id %>"><button type="submit" class="">Editar</button></a>
                
            
                <form action="/users/login/perfil/<%=userLogueado.id%>?_method=DELETE" class="section-form-register" method="POST">
    
                    <button type="submit" class="">Eliminar</button>
    
                </form>
    
            
    
            </div>

        </section>

        <%- include("../partials/form-suscribe")  %>


        <%- include("../partials/footer")  %>



    </main>



</body>

</html>